.seccion-perfil{
background-color: var(--colorAzul);
}

.seccion-perfil h2{
  color: var(--colorBeige);
}

.profile-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--colorGris);
}

.añadir-img, .niños-img {
  height: 150px;
  width: auto;
  object-fit: cover;
}

.profile-img {
  height: 110px;
  width: auto;
  object-fit: cover;
}

.icon-circle {
  width: 100px; /* Ajusta el tamaño para que coincida con .profile-circle */
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}

.icon-circle img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.seccion-perfil p {
  text-align: center; /* Esto ya es suficiente */
  margin-top: 5px; /* Espaciado entre la imagen y el texto */
}
