/* Fondo azul para toda la sección de categorías */
.contenedor-categorias {
    padding-top: 2%;
    background-color: var(--colorAzul);
}

/* Título alineado a la izquierda, en rojo */
.titulo-categoria {
    text-align: left;
    color: var(--colorBeige);
    font-size: 24px;
    margin-left: 50px;
    font-weight: bold;

    display: inline-block;
    border-radius: 5px;
    background-color: var(--colorAzul); /* Asegurar que el título tenga el mismo fondo */
}

/* Ajustes del carrusel */
.mySwiper { 
    padding: 10px 30px;
}



/* Ajustar imágenes */
.img-peliculas {

    object-fit: cover;
    width: 95%;
    height: 180px;
    border-radius: 10px;
    border: 0.2rem white solid;
    transition: filter 1s;
}

/* Agrandar la imagen y le da un sombra al posicionar el cursor encima */
.img-peliculas:hover{
    transform: scale(1.1);
    transition: all 1s;
    box-shadow: 3px 2px 15px -1px var(--colorRojo);
    cursor: pointer;
}

/* Botones de anterior y siguiente del Swiper */
.swiper-button-prev, .swiper-button-next {
    width: 5%;
    height: 250px;
    color: var(--colorRojoOscuro) ;
    font-weight: bolder;
    position: absolute;
    top: 0.5rem;
    z-index: 1;
}


/* Esconder los bullets de paginación */
.swiper-pagination-bullets {
    display: none;
}

.titulo-peli{
    margin-top: 15px;
    text-align: center;
}