
.img-peliculas{
    margin-top: 30px;
    object-fit: cover;
    width: 100%;
    height: 180px;
    border-radius: 8%;
    border: 0.2rem white solid;
}

.mySwiper{
    background-color: var(--colorAzul);
}


.titulo-peli{
    color: var(--colorBeige);
    text-align: center;
}

/* Botones de anterior y siguien del swiper */

.swiper-button-prev, .swiper-button-next {
    color: var(--colorRojoOscuro) !important;
}

.swiper-pagination-bullets{
    display: none;           /*esconder los bullets que muestran la paginacion de las peliculas*/
}

/* .swiper-wrapper{
    padding-left: 60px;
} */