body{
  background-color: #151931;
}
.contenedorHeader{
  margin-top: 130px;
}
.contenedorHeader h1{
    color: #D90429;
}
.contenedorHeader h2{
    color: #ECD9C1;
}
.btnNewMovie {
    width: 190px; /* Ancho del botón */
    height: 50px; /* Alto del botón */
    background-color:  #AC011F; 
    color: white; 
    text-align: center; 
    font-size: 18px; 
    font-weight: bold;
    border-radius: 8px; 
    border: none; 
    cursor: pointer; /
  }
  
  .btnNewMovie:hover {
    background-color: #D90429; 
    color:  white; 
    border: 2px solid white;
  }


  /* Media queries para dispositivos más pequeños */
@media (max-width: 834px) {

  .btnNewMovie {
    width: 110px;
    height: 40px; 
    font-size: 12px; 
  }

}
  /* Media queries para celulares */
  @media (max-width: 428px) {
    .contenedorHeader{
      margin-top: 90px;
    }
    .btnNewMovie {
      width: 90px;
      height: 25px; 
      font-size: 10px; 
    }

  }