.tabla {
  background-color: var(--colorAzul);
  min-height: 80vh;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo{
  color: var(--colorBeige);
  font-size: 1.5rem;
}

.BtnMensual, .BtnAnual{
  flex: 1;
  margin-left: 5px;
  font-weight: 600;
}

.BtnMensual{
  background-color: var(--colorAzulOscuro);
  border: 2px solid var(--colorRojoOscuro);
  color: var(--colorRojoOscuro);
}

.BtnMensual:hover{
  background-color: var(--colorRojoOscuro);
  border: 2px solid white;
  color: white;
}

.BtnAnual{
  background-color: var(--colorRojoOscuro);
  border: 2px solid whitesmoke;
  color: whitesmoke;
}

.BtnAnual:hover{
  background-color: var(--colorRojo);
  border: 2px solid white;
  color: white;
}

.equis{
  color: var(--colorRojo);
}


.tabla h2 {
  text-align: center;
  color: var(--colorRojo);
  margin-bottom: 30px;
  font-weight: bold;
}

/* Contenedor principal de la tabla */
.tabla-responsive {
  width: 80%;
  background-color: var(--colorAzul);
  color: white;
  display: flex;
  flex-direction: column;
}

/* Fila de encabezado */
.encabezado {
  background-color: var(--colorAzulOscuro);
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

/* Estilos generales de cada fila */
.fila {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* Primera columna (características) */
.columna {
  flex: 1.5;
  text-align: left;
  padding: 8px;
}

/* Columnas de los planes (Mensual y Anual) */
.columna.planes {
  flex: 1;
  text-align: center;
  font-weight: bold;
}


/* Asegurar que las filas no se desordenen en móviles */
@media (max-width: 576px) {

  h2 {
    font-size: 1.3rem;
  }
  
  /* Contenedor principal de la tabla */
  .tabla-responsive {
    width: 95%;

  }

  .columna {
    text-align: center;
    font-size: .8rem;
  }

  .columna:first-child {
    font-weight: bold;
    text-align: left;
  }
}

