
.footer{
    margin-top: 100%;
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--colorAzulOscuro);
    border-top: 2px solid var(--colorRojo);
}

.derechos{
    font-size: large;
    font-weight: 500;
    color: white;
}

.img-footer{
    height: 60px;
    width: auto;
    padding-bottom: 20px;
}


.redes {
    display: flex;
    justify-content: center;
}

.fab{
    color: var(--colorGris);
}

