.text-container{
  padding: 40px 0px 50px 0px;
  text-align: center;
  background-color: var(--colorAzulOscuro);
}

.text-container h2{
  color: var(--colorRojoOscuro);
  font-weight: bold;
}

.text-container h4{
  padding: 20px 0px 20px 0px;
  color: white;
}

.text-container img{
  padding: 20px 0px 20px 0px;
}


@media (max-width: 576px) {
  .text-container{
    padding: 30px 0px 20px 0px;
  }

  .text-container h2{
    font-size: 1.2rem;
    margin-bottom: 0;
  }
  
  .text-container h4{
    font-size: .9rem;
  }

  .text-container img{
    width: 300px;
  }
}