html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #131523; 
}

.Registro-page {
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  background-color: #151931; 
}

.bg-dark {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  background-color: #151931; 
}

.small-logo {
  width: 300px; 
  height: auto; 
  margin: 0; 
  padding: 0; 
  display: block; 
}


.FormulariodeRegistro {
  margin: 0;
  padding: 0;
}
