
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #151931; 
}

.Registro-page {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  flex-direction: column;
}

.bg-dark {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  padding-top: 0; 
}

.small-logo {
  width: 300px; 
  margin-bottom: 10px; 

.FormulariodeRegistro {
  margin-top: 0; 
}

