*{
    box-sizing: border-box;
    margin: 0;
    padding: 0
}


:root{
    --colorAzul: #131523;
    --colorAzulOscuro: #151931;
    --colorRojo: #D90429;
    --colorRojoOscuro : #AC011F;
    --colorBeige : #ECD9C1;
    --colorGris : #CFCFCF;
}