.modal-content {  
  background-color: #d90429; 
  color:#ffffff ; 
}  

.modal-header,
.modal-footer {  
  border-color: transparent;   
}  
.Modal.Body {  
  color: #ffffff; 
}
.h1{
  font-weight: bold;
}  

.h3{
  color:#ffffff;
  font-weight: bold;
  

}

.checkbox-label-separado {
  margin-left: 30px;
  color: #ffffff;
  font-weight: bold; 
  }

  input::placeholder,  
  textarea::placeholder { 
    color: #ffffff;
  }

  .btn-dark {  
    background-color: #d90429;
    border: none; 
  }  

.btn-dark:hover {  
  background-color: #151931; 
} 
