  .acordion{
    background-color: var(--colorAzul);
    width: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;

    align-items: center;
  }
  
  .preguntas-frecuentes {
    width: 60%;
    padding-bottom: 30px;
  }
  
  .acordion h2 {
    text-align: center;
    padding-top: 0;
    color: var(--colorRojo);
    font-weight: bolder;
  }
  
  .accordion-button {
    font-size: x-large;
    border: none;
    font-weight: bold;
    background-color: whitesmoke;
  }
  
  .accordion-button:not(.collapsed) {
    box-shadow: none ;
  }
  
  .accordion-body {
    font-size: large;
    font-weight: 500;
  }


  
  .accordion-body li {
    margin-bottom: 8px;
  }

  .accordion-header {
    background-color: var(--colorAzul);
    border: 1px solid var(--colorAzul);  
  }

  /* Elimina el borde blanco alrededor del acordeón */
.acordion .accordion-item {
  border: none;
 
}


  /* Media queries para pantallas más pequeñas */
@media (max-width: 768px) {
  .acordion{
    padding-top: 90px;
  }

    .preguntas-frecuentes {
      margin-top: 10px;
      width: 90%; 
      padding: 5px;
    }
  
    .preguntas-frecuentes h2 {
      font-size: 1.5rem; 
      margin-bottom: 15px;
    }
  }
  
  /* Media queries para pantallas aún más pequeñas */
  @media (max-width: 576px) {
    .acordion{
      padding-top: 30px;
      min-height: 65vh;
    }

    .acordion h2{
      font-size: 1.5rem;
    }

    .accordion-button {
      font-size: 1.2rem;
    } 
  }